name: Common Continuous Integration tasks

on:
  workflow_call:

permissions:
  contents: read
  packages: read
  statuses: write
  security-events: write
  id-token: write

jobs:
  continuous-integration:
    uses: hoverkraft-tech/ci-github-nodejs/.github/workflows/continuous-integration.yml@4d7c1ed87c18493fc4c2dbae4dbde46cf251c9a7 # 0.16.1
    permissions:
      id-token: write
      security-events: write
      contents: read
    with:
      build: |
        {
          "commands": ["build:ci"],
          "artifact": ["public"]
        }
