name: Common Continuous Integration tasks

on:
  workflow_call:
    outputs:
      build-artifact-id:
        description: "ID of the build artifact) uploaded during the build step."
        value: ${{ jobs.continuous-integration.outputs.build-artifact-id }}

permissions: {}

permissions: {}

jobs:
  continuous-integration:
    uses: hoverkraft-tech/ci-github-nodejs/.github/workflows/continuous-integration.yml@ce2bb8274a37c1219be2bcae2a1b2528c2c72957 # 0.19.0
    permissions:
      contents: read
      id-token: write
      pull-requests: write
      security-events: write
    with:
      working-directory: application
      build: |
        {
          "artifact": ["dist"]
        }
      test: |
        {
          "coverage": "codecov"
        }
