name: Common Continuous Integration tasks

on:
  workflow_call:

permissions:
  contents: read
  packages: read
  statuses: write
  security-events: write
  id-token: write

jobs:
  continuous-integration:
    uses: hoverkraft-tech/ci-github-nodejs/.github/workflows/continuous-integration.yml@0264395060bbde4ec3276b6dca84f0db828070f3 # 0.17.0
    permissions:
      id-token: write
      security-events: write
      contents: read
    with:
      build: |
        {
          "commands": ["build:ci"],
          "artifact": ["public"]
        }
