name: Internal - Main - Continuous Integration

on:
  push:
    branches: [main]
    tags: ["*"]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions: {}

jobs:
  ci:
    uses: ./.github/workflows/__shared-ci.yml
    secrets: inherit
    permissions:
      contents: read
      id-token: write
      packages: read
      pull-requests: write
      security-events: write

  deploy:
    if: github.ref_name == github.event.repository.default_branch
    name: Deploy website
    needs: ci
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.url }}
    steps:
      - id: deployment
        uses: hoverkraft-tech/ci-github-publish/actions/deploy/github-pages@0.20.1
        with:
          build-path: application/dist
          build-artifact-id: ${{ needs.ci.outputs.build-artifact-id }}
