/*! purgecss start ignore */
#about {
  a.social-link {
    font-size: 1.5rem;

    .icon-social-buildandrun {
      background: no-repeat center/1.2rem;
      background-image: url('../images/buildandrun-primary.png');
    }

    .icon-social-malt {
      background: no-repeat center/1.2rem;
      background-image: url('../images/malt-primary.png');
    }
    &:hover {
      text-decoration: none;
      svg {
        color: $secondary;
      }
      .icon-social-buildandrun {
        background-image: url('../images/buildandrun-secondary.png');
      }
      .icon-social-malt {
        background-image: url('../images/malt-secondary.png');
      }
    }
  }
}
/*! purgecss end ignore */
