// Callout
.callout {
  padding: 5rem 0;
  background: linear-gradient(90deg, fade-out($white, 0.9) 0%, fade-out($white, 0.9) 100%),
    url("../img/bg-callout.jpg");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: cover;
  h2 {
    font-size: 3.5rem;
    font-weight: 700;
    display: block;
  }

  @include media-breakpoint-down(md) {
    button {
      width: 100%;
    }
  }
}
