/*! purgecss start ignore */
#open-source {
  li {
    a {
      font-size: 1.5rem;
      text-decoration: none;
      &::before {
        content: "✓ ";
      }
      &:hover {
        &::before {
          color: #ecb807;
        }
      }
    }
  }
}
/*! purgecss end ignore */
